body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: tan;
}

header {
    text-align: center;
    background-color: olive;
}

h1 {
    text-decoration: underline;
}

.time {
    font-style: italic;
}

.question {
    font-size: 30px;
    font-weight: bold;
}


.answers {
    margin-bottom: 50px;
    margin-top: 10px;
}

.answers label {
    margin-right: 20px;
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    background-color: darkgreen;
    color: white;
    padding: 20px;
    letter-spacing: 1px;
    text-decoration: underline;
}

button:hover {
    background-color: olivedrab;
}

#results {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 25px;
    font-style: italic;
    font-weight: bolder;
}